* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
.main-container {
    background: linear-gradient(to right, #4682B4, #00BFFF);
    color: white;
    height: 100vh;
    display: grid;
    grid-template: auto / 40% 60%;
    justify-content: space-between;
    align-items: center;
}
.main-container > .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-container > .content > img {
    width: 60%;
}
.main-container > .background-container {
    width: 80%;
    height: 100%;
}
.main-container > .background-container > .calculator-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 35px;
    padding: 1%;
}
button {
    all: unset;
    background-color: #00bfff8a;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.7rem;
    width: 100%;
    box-shadow: 0 5px 5px -5px black;
    color: rgba(255, 255, 255, 0.5);
    transition-property: color;
    transition-duration: 500ms;
}
button:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, 0.6);
}
input[type="number"] {
    all: unset;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.7rem;
    width: 100%;
    box-shadow: 0 5px 5px -5px black;
}
::-webkit-input-placeholder {
    color: white;
}
.result {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 30%;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}
.result img {
    width: 50px;
    height: 50px;
}
.result button {
    width: 80%;
    background-color: #4682B4;
}
.result p{
    font-size: 1.5rem;
    padding: 0;
}
.beer, .coke, .meat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5vh;
}
@media  screen and (max-width:1100px) {
    .main-container {
        height: auto;
        display: grid;
        grid-template: auto auto/ auto;
        gap: 15%;
    }
    .main-container > .content {
        width: 100%;
        text-align: center;
        background: linear-gradient(to right, #4682B4, #00BFFF);
    }
    .main-container > .background-container{
        width: 100%;
    }
    .result { 
        width: 90%;
        height: 100%;
        top: 0;
        transform: translateY(2%);
        padding: 1rem;
    }
    .result p{ 
        font-size: 1.5rem;
    }
    .result img {
        width: 10%;
    }
}